.InputFeild{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    padding-top:20px;
}
.DataHeading{
    font-size:2.5rem;
    font-weight:600;
    text-align:center;
    text-decoration:underline;
    padding-top:10px;
}
#outlined-required{
    width:70vw;
}